/*Setting the Background of whole page*/
body{
    background-color: orange;

}

/*Styling of the list of posts in a two by two method*/
.allPosts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
/*inclosing in individual boxes*/
.allPosts .posts{
    margin: 10px 20px 10px 20px ;
    width: 40%;
    border-radius: 20px;
    display: flex;
    background-color: white;
    overflow: hidden;
}
/*Styling author name*/
.allPosts .posts .postAuthor{

    font-size: 20px;
    align-content:center;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding:0 20px;
}

/*Styling of Post Content*/
.allPosts .posts .postAuthor h1{

    font-size: 20px;
    align-content:center;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding:0 20px;
}
.allPosts .posts .postContent{
    background-color: #dddddd;
    padding: 10px 20px;

}
.allPosts .posts .postContent img{
    float: right;
    cursor: pointer;
}
.allPosts .posts .postContent p{

    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;

}


/*Styling of Conformation Box */
.confirmationBox_model{
    position: fixed;
    display: none;
    z-index:2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    margin:-5px;
}
.confirmationBox_model .conformationBox{
    border: none;
    padding: 15px 20px;
    background-color: #dddddd;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 30%;
    text-align: center;

}
.confirmationBox_model .conformationBox h1{
    font-size: 18px;
}

/*Styling of Yes and No Buttons*/
.confirmationBox_model .conformationBox .buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}
.confirmationBox_model .conformationBox .buttons button{
    margin: 0 20%;
    padding:2% 10%;
    color: white;
    border: none;
}
 #yes{
    background-color: blue;
    border-radius: 3px;
    cursor: pointer;
}
#yes:hover{
    background-color: #ff4d4d;
    cursor: pointer;
}
#no{
    background-color: blue;
    border-radius: 3px;
    cursor: pointer;
}
#no:hover{
    background-color: #4CAF50;
    cursor: pointer;
}


















/***************************************Thank You by Manank Gupta****************************************************************/