/*Styling of the Container Having all the data*/
.container{
    margin: 0 5%;
}
/*heading Design*/
.container #heading{
    text-align: center;
    font-size: 30px;
}

/*design for editing the heading*/
.container #heading_edit{
    margin:0px auto;
    display:none;
    height: 30px;
    width: auto;
    font-size: 30px;
    border: 2px solid lightpink;
}

/*Styling of Edit and save button*/
.container .name_edit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container .name_edit #name{
    font-size: 20px;

}

/*edit button*/
.container .name_edit #edit{
    height: 40px;
    font-size: 15px;
    padding: 5px 20px;
    background-color: #ff3385;
    color: white;
    border: none;
    box-shadow: 2px 5px 10px #ff3385;

}
/*save button*/
.container .name_edit #save{
    display: none;
    height: 40px;
    font-size: 15px;
    padding: 5px 20px;
    background-color: #ff3385;
    color: white;
    border: none;
    box-shadow: 2px 5px 10px #ff3385;
}

/*Styling of Like Button*/
.container #like{
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
    padding: 5px 40px;
    background-color: #ff3385;
    color: white;
    border: none;
    box-shadow: 2px 5px 10px #ff3385;
    border-radius: 5px;
}
/*Styling of comment Button*/
.container #comment{
    height: 100px;
    width: 60%;
}

/*styling of the comment box*/
.container #postComment{
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
    padding: 5px 40px;
    background-color: #ff3385;
    color: white;
    border: none;
    box-shadow: 2px 5px 10px #ff3385;
}

/*Display of all the comments in the section*/
.container #allComment{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 20px;
}
.container #allComment .commentContent{
    background-color: white;
    width: 100%;
    height:40px;
    align-content: center;
    padding: 5px 5px 5px 5px;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
}

/*Styling of the Edited Post Content Display*/
#postContent_edit{
    width: 100%;
    display: none;
    margin-top: 10px;
    border: 2px solid lightblue;
}






























/***************************************Thank You by Manank Gupta****************************************************************/